{% extends 'base.html' %}
{% load static %}
{% block head %}

<!--<meta http-equiv="refresh" content="5;url=http://localhost:8000/home">-->
{% endblock %}

{% block content %}
    {% load plotly_dash %}
    <div class="container-fluid">

                    <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard Condition Monitoring</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
    </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="{% plotly_class name='example' %} card" style="height: 100%; width: 100%">
    {% plotly_app name='example' ratio=0.45 %}
    </div>
<br>
    {{ plot1 | safe }}
{% endblock %}
