{% extends 'base.html' %}
{% load static %}
{% block title %}Userlist{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'css/list2.css' %}">

<p>Sorry, you are not alllowed to access this page, ask the administrator for help!</p>

{% endblock %}
