{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dz.css' %}">

{% endblock %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
    <h5>Upload the sensor data document:</h5>
    <br>
    <form id="my-dropzone" class="dropzone dz">
    {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endblock %}
